#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 1250px; */
  background-color: #171828;


}